pymc==4.3.0
seaborn==0.11.2
jupyterlab==3.3.2
pytest==7.1.2
coverage==6.3.2
pylint==2.12.2
pytest-cov==3.0.0
## Additionally:
matplotlib==3.6.2
numpy==1.22.3
pandas==1.4.2
requests==2.27.1
scipy==1.9.3
Theano==1.0.5
xarray==2022.11.0
